@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;&display=swap');

*{
    box-sizing: border-box;
}

html, body, wrapper{
    height: 100%;
}

@keyframes gradient{
    100%{
        background-size: 4000px 1000px;
    }
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(datamanagment.jpg);
    background-size: 2000px 1000px;
    background-position: 500px 0;
    color: #fff;
    animation: gradient 10s infinite alternate linear;
    font-family: 'Ubuntu';
}

@media(width >= 500px){
    body{
        padding: 0;
    }
}

.login{
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background-color: #fff;
    text-align: center;
}

